node_modules/
lib/
artifacts/
coverage/
.nyc_output/

*.log
*.jar

/.metadata/
yarn-error.log

tsconfig.tsbuildinfo
eslint.xml
report.xml

wf-glsp-server-node.js
wf-glsp-server-node.js.map
wf-glsp-server-webworker.js
wf-glsp-server-webworker.js.map